body {
    background-image: url("../images/face.png");

}

h1 {
    text-align: center;
    color: black;
}

canvas {
    margin: auto;
    background-color: white;
    border: 3px solid green;
    display:block;
}

.login {
	 margin: auto;
    background-image: url("../images/loginbackground.jpg");
    width: 400px;
    height: 150px;
    border-style: solid;
}

.create_account {
	 margin: auto;
    background-image: url("../images/loginbackground.jpg");
    width: 400px;
    height: 150px;
    border-style: solid;
}

p {
    color: black;
}

.button {
    text-align: center;
}

.usrtxt {
    text-align: center;
}
